.products {
	-webkit-column-width: 320px;
	column-width: 200px;
	-webkit-column-gap: 15px;
	column-gap: 3rem;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;
  .product {
  	padding-bottom: 10px;
    display: inline-block;
    column-break-inside: avoid;
  }
}
@media screen and (max-width: 750px) {
  .products {
    -webkit-column-gap: 0px;
    column-gap: 0px;
  }
  .products .product {
    width: 100%;
  }
}
