@import "_variable.scss";
@import "_animation.scss";
@import "_reset.scss";
@import "_responsive.scss";

body{
  background: #e0ffd6;
}
h1{
  font-family: 'Open Sans', sans-serif;
  color: $black;
  font-weight: bold;
}
main{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background:  #5C6959;
  box-shadow:0px 0px 50px -12px rgba(#797979, 0.4)
}
#hidemenu{
  position: fixed;
  right: 0;
  top:0;
  height: 100vh;
  width: 400px;
  z-index: -1;
  ul{
    @include display-center;
    height: 100%;
    flex-direction: column;
    li{
      padding: 1rem;
      font-size: 4rem;
      font-weight: bold;
    }
  }
}
#contents{
  .firstview{
    position: relative;
    height: 100vh;
    width: 100vw;
    &__title{
      position: absolute;
      top: 0;bottom: 0;
      margin: auto;
      left: 10%;
      display: inline-block;
      height: 30%;

      h1{
        line-height: 8rem;
        font-size: 128px;
      }
    }
    &__img{
      position: absolute;
      bottom: 0;
      right: 0%;
      margin: auto;
      width: auto;
      height: 80vh;
    }
  }
  @import "_pintalest.scss";
  .products{
    padding: 40px;
    width: 80%;
    margin: auto;
  }
}
